*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /*min-height: 20px;
    border: 1px dashed red;*/
    min-width: 30px;
}

:root{
    --s_size: 0.7rem;
    --m_size: 1rem;
    --altezza-top: 3.5rem;
}

.s-size-grey{
    font-size: var(--s_size);
    color: grey;
}

body{
    height: 100vh;
}

.container{
    height: 90%;
    padding: 5px 55px;
}

.row{
    height: 100%;
    background-color: #EAEAEA;
}

#app{
    height: 100vh;
    width: 100%;
    background-image: url(https://i.pinimg.com/1200x/5e/a6/aa/5ea6aadb19661e5843deb3abca4e17f9.jpg);
    background-size: contain;
}

#container-utenti-dx{
    height: 100%;
    padding: 0;
}

#container-utenti-sx{
    height: 100%;
    padding: 0;
    border-right:2px solid rgb(207, 207, 207);
}

.icona-rounded-sx{
    width: 25px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    line-height: 25px;
    margin: auto 0.5rem;
}

.news{
    background-color: #8EDAFC;
    height: 65px;
}

.fa-solid.fa-bell-slash{
    background-color: aliceblue;
    color: #8EDAFC;
}

.search-bar{
    background-color: white;
    border-radius: 5px;
    margin: 5px;
    height: 30px;
    padding: 0 1rem;
    color: gray;
}

.sx-fs{
    font-size: var(--m_size);
    font-weight: 600;
    margin: 0;
}

.overflow{
    flex-grow: 1;
    overflow: auto;
}

.shrinkOff{
    flex-shrink: 0;
}

.contatto{
    height:  var(--altezza-top);
    margin-bottom: 2px;
    background-color: whitesmoke;
    padding: 0 10px;
}
.user-container{
    height:  var(--altezza-top);
}

.text-area{
    height:  var(--altezza-top);  
}

.msg{
    width: 45%;
    border-radius: 1rem;
    padding: 1rem;
}

.in-uscita{
    background-color: white;
    margin-right: auto;
}

.in-arrivo{
    background-color: #D5F9BA;
    margin-left: auto;
}

#active{
    background-color:#c7c7c7;
}